[submodule "neodiff/go-ethereum"]
	path = neodiff/go-ethereum
	url = https://github.com/ethereum/go-ethereum.git
[submodule "neodiff/offchainlabs-go-ethereum"]
	path = neodiff/offchainlabs-go-ethereum
	url = https://github.com/OffchainLabs/go-ethereum.git
[submodule "neodiff/op-geth"]
	path = neodiff/op-geth
	url = https://github.com/ethereum-optimism/op-geth.git
[submodule "neodiff/op-erigon"]
	path = neodiff/op-erigon
	url = https://github.com/testinprod-io/op-erigon.git
[submodule "neodiff/opcraft"]
	path = neodiff/opcraft
	url = https://github.com/latticexyz/opcraft.git
[submodule "neodiff/op-geth-conway"]
	path = neodiff/op-geth-conway
	url = https://github.com/therealbytes/conway-op-geth.git
[submodule "neodiff/nitro"]
	path = neodiff/nitro
	url = https://github.com/OffchainLabs/nitro.git
[submodule "neodiff/zksync"]
	path = neodiff/zksync
	url = https://github.com/matter-labs/zksync.git
[submodule "neodiff/polygon-zkevm-prover"]
	path = neodiff/polygon-zkevm-prover
	url = https://github.com/0xPolygonHermez/zkevm-prover.git
[submodule "neodiff/l2geth-scroll"]
	path = neodiff/l2geth-scroll
	url = https://github.com/scroll-tech/go-ethereum.git
[submodule "neodiff/scroll"]
	path = neodiff/scroll
	url = https://github.com/scroll-tech/scroll.git
